.container-check{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: flex-start;
    width: 100%;
    padding: 1%;
}
.btn-pdf{
    background-image: url('../images/download-pdf.png');
    background-color: transparent;
    border:none;
    width: 32px;
    height: 32px;   
}
.text-pdf{
    font-size: 0.55rem;
}
.btn-home{
    background-color: transparent;
    border: none;
}
.main-checkbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;  
}

.form-sub-category{
    border: none;
    margin: 2%;
    padding: 2%;
    box-shadow: 0px 6px 10px -6px black;
    border-radius: .3rem;
}
.form-tittle{
    background-color: #E5651D;;
    margin:0;
    color: white;
    padding: 0.55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tittle-form{
    font-weight: bold;
    margin: 1%;
    text-align: center;
}
.subtittle-form{
    font-size: 1em;
}
.form-tittle span{
    font-size: 0.8em;
    font-weight: 600;
    margin-right: 3%;
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 1% 3% 1% 3%;
}

.btn-checklist{
    background-color: #E5651D;
    font-size: 0.9em;
    font-weight: bold;
    height: 2.5rem;
    width: 7rem;
    border-radius: 20px; 
    color: white;
    border: none;
   
    
}


/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

    
}
/* Laptops, Desktops */
@media (min-width: 1025px) {
.container-checkbox{
    width: 50%
}
.nav-checkbox i {
    width: 120px;
}
.form-tittle{
    margin:2%;
}

}