.container-checkbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    background: rgba(229, 101, 29, 0.09);
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
}

.input-name{
    width:300px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;

}
.container-checkbox_item{
    border:none;
}

.btn-checklist{
    background-color: #E5651D;
    font-size: 0.9em;
    height: 2.5rem;
    width: 7rem;
    border-radius: 50px; 
    color: white;
    border: none;
   
    
}
.btn-pdf{
    background-image: url('../images/download-pdf.png');
    border:none;
    width: 32px;
    height: 32px;
    border-radius: 20px;
}
.text-pdf{
    font-size: 0.7rem;

}