.container-harness{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.main-harness{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

    
  }
  /* Laptops, Desktops */
  @media (min-width: 1025px) {
    .container-harness{
        background-color: ;
        
    }
    .main-harness{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .accordion  {
        padding: 2%;
        width: 60%;
        border: 1px solid #FFD691;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }
    
  }