.container{
    align-content: center;
    padding-bottom: 20px;

}  

.name {
    color: #414141;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding:5px
}

.name i{
   color: rgb(14, 207, 62);
}


.container h2 {
    color: #414141;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height : 16px;
    width: 238px;
    margin: auto;
}

.container p {
    display: none
} 
.nameParam{
    color: #F77F00;
    width: 300px;
   margin: auto;
   font-size: 25px;
   text-align: center;
   font-weight: bold;  
}


.nameForm{
   color: #F77F00;
   text-align: center;
   font-weight: bold;
   font-size: 30px;
   border-style: double;
   width: 200px;
   margin: auto;
   background-color:#f8f6f1c7;
}

.accordion-flush{
    border-radius: 10px ;
    
}
.form-control{
    width: 70px;    
}

.ocult{
    display: grid;
    grid-template-columns:100% ;
    grid-template-rows: 25% 75%;
    width: 100vw;
    margin: auto;

}

.nota{
    display: grid;
    grid-template-columns:25% 75% ;
    grid-template-rows: 100%;
    width: 85vw;
    margin: auto;
    padding-bottom:10px;

}

.nota i{
    margin: auto;
    color: gold;
}

.nota span{
    margin: auto;
    background-color:  rgba(10, 10, 10, 0.637);
    color: white;
    padding: 5px;
    font-size: 16px;
    font-style: italic;
    line-height : 18px;
}

.btnsResult{
    display: grid;
    grid-template-columns:50% 50% ;
    grid-template-rows: 100%;
    margin: auto;
    align-items: center;
    width: 80vw;
    
}

.btnsResult .btn-secondary {
   margin: auto;   
}

.row{
    padding-top: 10%;
    align-items: center;
    display: grid;
    grid-template-columns:60% 20% 20% ;
    grid-template-rows: 100%;
    font-weight: bold;
    font-size: 17px;
}

.row label{
    padding: 0%;
}

.row span{
    padding-left: 10%;
    margin: 0;
}

.btn-secondary{
    background-color: #DD5900;
    align-items: center;
    width: 132px;
    height: 37px;  
    border-radius: 50px; 
    color: white;
    border-color:rgba(255, 255, 255, 0);
    margin:  20% 30%;
}

.gif{
   padding: 20px;
   margin: auto; 
}

.download {
    text-align: center;
    font-size: 14px;
    width: 200px;
    margin: auto;
    padding: 15px;
}

.btndownload{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 192, 203, 0);
    border-color: rgba(0, 0, 0, 0);
}

.btndownload i {
    color:#DD5900;
}



/*PARA VISTA DESKTOP*/
@media only screen  and (min-width:769px ) {
.row{
    padding-top: 0;
    width: 35%;
    margin: auto;
    grid-template-columns:60% 20% 20% ;
    text-align: center;

}

.row label{
    text-align:start;
}
.container{
    padding: 3%;
    align-content:center ;
}

.form-control{
    width: 80px;    
}

.name  {
    padding-top: 3%;
} 

.nameParam{
    padding-bottom: 20px;
}

.gif{
    margin-left: 35%;
}

.btn-secondary{
    margin:  5% 45%;
}

.btnsResult{
    width: 40vw;
}

.harnessInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10%;
}

.info{
    font-size: 10px;
}
.knowledgeCheck{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 10%;
}

.accordion{
    padding-top: 10%;
}

.nota{
    grid-template-columns:15% 85% ;
    width: 40vw;
}

.nota i{
     padding-left: 25%;
}

.nota span{
    margin: auto;
    background-color:  rgba(10, 10, 10, 0.637);
    color: white;
    padding: 5px;
    font-size: 16px;
    font-style: italic;
    line-height : 18px;
}




}